$main_font_color: #2b2b2b;
$head_back_color: #818ea5;

header {
    color: $main_font_color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $head_back_color;

    #nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: end;
        align-self: center;
    }
}